Document link : [click here](https://docs.google.com/document/d/15eo7KEvTfiJr__ZpJs7-fRbgqREtSMm016C3jZCu99w/edit?usp=sharing)

### Question:
```
A student will not be allowed to sit in an exam if his/her attendance is less than 75%.
Take following input from user
Number of classes held
Number of classes attended.
And print percentage of class attended and Is student is allowed to sit in exam or not.
```

In [2]:
total_no_of_classes = int(input("Enter total no.of classes"))
classes_attended = int(input("Enter no.of classes attended"))
percentage = (classes_attended/total_no_of_classes)*100
if percentage > 75 :
    print(percentage , "Student is allowed")
else:
    print(percentage,"Student is not allowed")

Enter total no.of classes20
Enter no.of classes attended10
50.0 Student is not allowed

### Question:
```
Accept a number from the user and check whether the number is Adam or not?
Example : 12 → 12*12 =144
                 21 → 21*21 = 441
	     reverse(144) =441 =21*21
```

In [8]:
#Solution-1
n = int(input("Enter a number: "))
print("Adam number") if int(str(n**2)[::-1]) == (int(str(n)[::-1])) ** 2 else print("not an Adam number")

Enter a number: 12
Adam number

In [ ]:
#Solution-2
n = int(input("Enter a number: "))
if int(str(n**2)[::-1]) == (int(str(n)[::-1])) ** 2:
    print("Adam number") 
else:
    print("not an Adam number")

In [13]:
#reversing a number and finding square value
n = 12
int(str(n)[::-1])  ** 2

441

In [15]:
#Traditional way of reversing a number using loop
n = 12
rev = 0
while n>0:
    rev= rev*10 + n%10
    n = n//10
rev ** 2

441

### List:

In [18]:
#creating a list and checking the type
list1 = [10,12.23,'abc',True,10]
print(type(list1))

<class 'list'>

In [19]:
#slicing
list1[2]

'abc'

In [20]:
list1

[10, 12.23, 'abc', True, 10]

In [21]:
#updating a list
list1[-1] = 100
print(list1)

[10, 12.23, 'abc', True, 100]

In [24]:
list1

[10, 12.23, 'abc', True, 100]

In [23]:
list2 = [1,2,3,4,5]
list2

[1, 2, 3, 4, 5]

In [25]:
#concatenation
list1 + list2

[10, 12.23, 'abc', True, 100, 1, 2, 3, 4, 5]

In [26]:
#Repitition
list1 * 2

[10, 12.23, 'abc', True, 100, 10, 12.23, 'abc', True, 100]

In [27]:
#slicing
list1[-1]

100

In [28]:
#slice range
list1[2:5:1]

['abc', True, 100]

In [29]:
# in operator with list
5 in list1

False

In [30]:
#not in operator with list
5 not in list1

True

### Built-in Functions:

In [35]:
#len() --> retunrs no.of elements in the list
list3 = [12,23,34,55,6,7,78,56,567,90.34,2]
len(list3)

11

In [36]:
#min() --> returns minimum value from the list
min(list3)

2

In [33]:
#max() --> returns maximum value from the list
max(list3)

567

In [34]:
#list() --> converts any type of interable object to lost
string = "python"
list(string)

['p', 'y', 't', 'h', 'o', 'n']

In [38]:
x = (10,20,30)
list(x)

[10, 20, 30]