Document link : [click here](https://docs.google.com/document/d/1LQ8xwtCRjO0GSlGvcpr8zMNHiTfudD9G8aFN0H-D5Zo/edit?usp=sharing)

### Adam Number:

In [3]:
x = int(input("Enter a number :"))
temp = x
fig = x ** 2
num = 0#reverse of x
rev = 0#reverse of x ** 2
while (x > 0):
    num = (num*10) + (x % 10)
    x = x // 10  
while fig > 0:
    rev = (rev*10) + (fig % 10)
    fig //= 10
if rev == num **2:
    print(temp,"is adam")
else:
    print(temp,"is not adam")

Enter a number :12
12 is adam

### Perfect Number:

In [5]:
x = int(input("Enter a number :"))
s = 0
for i in range(1,x):
    if x % i == 0:
        s += i# s = s + i
if s == x:
    print("Perfect number")
else:
    print("Not perfect number")

Enter a number :12
Not perfect number

### Dictionary:
1. use { }
2. Elements of Dictionary known as Entries --> combination of key and value --> key : value
3. Unindexed,Unordered
4. Mutable

### Rules for keys:
1. key should be unique
2. key should be immutable --> tuple,string,int,float,complex

In [6]:
#creating a dictionary
dict1 = {"name":"preeti","Address":"Hyd",1:"one"}
type(dict1)

dict

In [8]:
dict1

{'name': 'preeti', 'Address': 'Hyd', 1: 'one'}

In [9]:
#Updating a dictionary
dict1['name'] = "k preeti"
dict1

{'name': 'k preeti', 'Address': 'Hyd', 1: 'one'}

In [10]:
dict1['Address']

'Hyd'

In [14]:
#Deleting an entry
del dict1[1]
dict1

{'name': 'k preeti', 'Address': 'Hyd', 'course': 'Java'}

In [12]:
#Adding an entry --> 'course':'python'
dict1['course'] = 'python'
dict1

{'name': 'k preeti', 'Address': 'Hyd', 1: 'one', 'course': 'python'}

In [13]:
#Key should be unique
dict1['course'] = 'Java'
dict1

{'name': 'k preeti', 'Address': 'Hyd', 1: 'one', 'course': 'Java'}

In [15]:
#Key should be immutable
dict1[[1,2,3]] = "list1"
dict1

TypeError: unhashable type: 'list'

In [16]:
dict2 = {1:"one",2:"Two"}
dict1 + dict2

TypeError: unsupported operand type(s) for +: 'dict' and 'dict'

In [17]:
dict1 * 2

TypeError: unsupported operand type(s) for *: 'dict' and 'int'

In [18]:
#slicing can be done using keys of the dictionary
dict1["name"]

'k preeti'

In [19]:
#Membership operators are supported
"name" in dict1

True

### Built-in functions

In [20]:
len(dict1)

3

In [21]:
max(dict1)

'name'

In [22]:
min(dict1)

'Address'

In [28]:
dict3 = dict()
dict3

{}

In [29]:
type(dict1)

dict

### Built-in Methods:

In [30]:
dict1

{'name': 'k preeti', 'Address': 'Hyd', 'course': 'Java'}

In [31]:
#keys() --> Returns all the keys of dictionary
dict1.keys()

dict_keys(['name', 'Address', 'course'])

In [32]:
#values() --> Returns all the values of dictionary
dict1.values()

dict_values(['k preeti', 'Hyd', 'Java'])

In [33]:
#items() --> Returns all the entries of dictionary
dict1.items()

dict_items([('name', 'k preeti'), ('Address', 'Hyd'), ('course', 'Java')])

In [34]:
#setdefault() --> Add an entry if entry doesn't exist
dict1.setdefault("Role","Trainer")
dict1

{'name': 'k preeti', 'Address': 'Hyd', 'course': 'Java', 'Role': 'Trainer'}

In [35]:
dict1.setdefault("Role","Admin")
dict1

{'name': 'k preeti', 'Address': 'Hyd', 'course': 'Java', 'Role': 'Trainer'}

In [36]:
#pop() --> removes an entry from the dictionary for mentioned element key as argument to pop()
dict1.pop('Role')

'Trainer'

In [37]:
dict1

{'name': 'k preeti', 'Address': 'Hyd', 'course': 'Java'}

In [40]:
#popitem() --> Removes any entry from the dictionary
dict1.popitem()

('course', 'Java')

In [41]:
dict1

{'name': 'k preeti', 'Address': 'Hyd'}

In [42]:
#copy() --> copying one dictionary from another
dict3 = dict1.copy()

In [43]:
dict3

{'name': 'k preeti', 'Address': 'Hyd'}

In [44]:
#clear() --> Removes all the entries from the dictionary
dict3.clear()
dict3

{}

In [45]:
dict3.update(dict1)

In [46]:
dict3

{'name': 'k preeti', 'Address': 'Hyd'}

In [47]:
dict3.update(dict1)
dict3

{'name': 'k preeti', 'Address': 'Hyd'}

In [48]:
#update() --> dict2 Entries will be added dict3 if dict2 entries are differet from dict3 
dict2 = {1:"one",2:'Two'}
dict3.update(dict2)
dict3

{'name': 'k preeti', 'Address': 'Hyd', 1: 'one', 2: 'Two'}